/* saas 官网的尺寸单位是rem */
html {
  font-size: 16px;
}

/* reset.css 引入后造成site官网中 b 和 strong 标签没有粗体，此处还原粗体  */
b,
strong {
  font-weight: 700;
}

:root {
  --docs-markdown-top-body-zindex: 99;
  --docs-tabs-header-zindex: 100;
  --docs-float-settings-zindex: 999;
  --docs-header-zindex: 200;
  --docs-layout-sider-zindex: 201;
}

.tinyui-design-header {
  z-index: 1000 !important;
}

.tiny-grid td,
.tiny-grid th {
  vertical-align: middle;
}

/* Algolia 搜索 */

.search-box {
  position: absolute;
  z-index: 1000;
  top: 12px;
  left: 210px;
}

.DocSearch.DocSearch-Container {
  z-index: 1000;
  font-size: 14px;
}

.DocSearch-Button {
  border-radius: 6px;
  transition: 0.4s;
}

.DocSearch-Button:hover {
  box-shadow: inset 0 0 0 1px #1476ff;
  background-color: #f5f5f5;
}

.DocSearch-Button .DocSearch-Search-Icon {
  width: 14px;
}

.DocSearch-Button-Placeholder {
  color: #969faf;
}

:root {
  --docsearch-primary-color: #1476ff;
  --docsearch-searchbox-background: #f5f5f5;
}

@media screen and (max-width: 814px) {
  .search-box {
    left: 230px;
  }
}

@media screen and (max-width: 768px) {
  .search-box {
    left: 230px;
  }

  .search-box .DocSearch-Button {
    padding: 0 11px;
  }
}
